/* GLOBAL */
*{
  padding: 0;
  margin: 0;
  box-sizing:border-box;
  font-family: 'Montserrat', sans-serif;
}

.global{
  width:80%;
  margin:20px auto;
  
}
.clearfix::after{
  content:"";
  display:table;
  clear:both;
}


/*HEADER JUMBOTRON CONTAINER*/
header,.jumbotron{
  margin-bottom: 40px;
}
/* header img ul*/
header{
  height: 100px;
}
header img{
  height:50%;
}
header ul li{
  display:inline-block;
  margin:15px 20px 0 0;
}
header ul li a{
  color: #888888;
  text-decoration: none;
}
a:hover{
  text-decoration:underline ;
}
/* jumbotron */
.jumbotron{
  /* height: 500px; */
  color: #ffffff;
  background-image: url(../img/banner.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position:center;
  border-radius: 10px;
  
}
.jumbotron :first-child,.jumbotron :last-child{
  width: 60%;
  padding-left: 30px;
}
.jumbotron :first-child{
  font-size: 2em;
  padding-top: 30%;
}
.jumbotron :last-child{
  font-size: 15px;
  
}
.conteiner{
   margin-bottom:10px;
}

/* TOP ASIDE MAIN CHARACTERS */
.top{
  height:80px;
  margin-bottom: 15px;
}
.top span,.second-container,footer{
  color: #888888;
}

/* aside main */
aside,main{
  margin-bottom:15px;

  float: left;
}

aside{
  width: 20%;
}


main{
  width: 56%;
  margin: auto 2%;
  
}
/* top img  */
aside div,main div{
  height: 200px;
  margin-bottom: 30px;
}
main div{
  background-image: url(../img/banner-2.jpg);
}
.img1{
 background-image: url(../img/img-1.jpg);
}
.img3{
  background-image: url(../img/img-3.jpg);
 }
 main div,.img1,.img3{
  background-size: cover;
  background-position:center; 
 }
 


/* FOOTER */
footer
{
  height: 100px;
  text-align:center;
  line-height: 100px;
  
}
